@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: #000F42;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.444);
}

a{
    text-decoration: none;
    color: white;
}

.botao{
    display: none;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

#nav-list ul{
    display: flex;
    list-style: none;
}

#nav-list li{
    padding: 0px 10px;
}

.menu-mobile{
    display: none;
}

@media screen and (max-width: 800px) {
    .item-list{
        display: none;
    }
    .botao{
        display: block;
    }
    .botao button{
        background-color: transparent;
        border: 0px;
        cursor: pointer;
    }
    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-mobile .item-list{
        display: block;
        padding: 10px 0px;
    }
    .open{
        display: block;
    }
}

