.grande{
    height: 600px;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menor{
    display: inline-block;
    width: 40%;
    height: 200px;
    margin: 0px 10px;
    background-size: cover;
}

#cert1{
    background-image: url("../imagens/certificado-img.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

nav.menor{
    cursor: pointer;
}