@charset "UTF-8";
.grande{
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menor{
    display: inline-block;
    width: 100%;
    max-width: 45%;
    height: 100%;
    max-height: 37%;
    margin: 0px 10px;
    background-size: contain;
}

#cert1{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

nav.menor{
    cursor: pointer;
}

#img{
    background-image: url('../imagens/certificado-img.png');
}

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    background-color: rgb(0, 0, 0);
}

.lightbox:target{
    display: block;
}

.lightbox span{
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}